// *
// *                        Menu  Mobile
// *  05/12/2021
//*********************************************************************
.mobile {
  position: fixed;
  z-index: 90;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  @media #{$small-up} {
    display: none;
  }

  & .nav {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
    padding: 0;
    height: 65px;
    display: flex;
    justify-content: space-around;
  }

  & .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    & img {
      width: 30px;
    }
    &.active {
      background-color: rgb(202, 209, 209);
    }
  }

  .subnav {
    width: 100%;
    display: block;
    padding-top: 1rem;
    border-top: 1px solid black;
    & span {
      text-align: center;
      font-weight: 600;
      font-size: 1.6rem;
      padding: 1rem;
    }
    & ul {
      list-style-type: none;
      margin: 0;
    }
    & li {
      margin: 1.5rem 0;
    }
    & a {
      padding-left: 2rem;
      display: block;
      text-decoration: none;
      color: black;
    }
    & img {
      width: 30px;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}
